altair
pandas
langchain
openai
beautifulsoup4==4.12.2 
PyPDF2
faiss-cpu
tiktoken
html2text
markdown
gradio
unstructured 
libmagic
chromadb
unstructured 
libmagic
tabulate
pdf2image
pytesseract
plotly
streamlit